In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("E:/AI Hackathon I am Pagal/abc/dataset/universal_train.csv")

In [3]:
df = df.drop(['Unnamed: 0'],axis = 1)
df_no_outliers = df[df["PRODUCT_LENGTH_NONORM"]<800]

In [4]:
df_no_outliers

,0,1,2,3,4,5,6,7,8,9,10,PRODUCT_TYPE_ID,PRODUCT_LENGTH,PRODUCT_LENGTH_NONORM
1,0.021798,0.017311,-0.010543,0.044631,-0.013809,0.007838,-0.019112,0.012684,-0.002693,0.000218,0.007681,-0.314022,-0.002721,393.700000
2,0.021713,0.010882,0.012488,-0.015654,0.011082,0.004986,-0.017478,-0.003682,-0.005930,-0.000192,-0.005423,0.891683,-0.002459,748.031495
3,0.041322,0.102819,-0.029833,0.067824,0.101342,-0.023887,0.054705,-0.005680,-0.031651,-0.000720,-0.008348,-0.253258,-0.002430,787.401574
4,0.001786,0.004194,0.001742,-0.000216,-0.001976,0.006235,-0.000607,0.000235,-0.002081,0.000451,0.008637,0.532392,-0.002570,598.424000
6,0.003292,0.005424,0.008193,-0.000020,-0.001860,0.015389,-0.000418,0.000002,-0.000864,0.001874,0.028410,-1.002852,-0.002570,598.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249688,0.000388,0.000619,0.000974,-0.000207,-0.000089,0.000581,-0.000273,0.000020,-0.000148,0.000057,0.000291,-0.977638,-0.002570,598.424000
2249690,0.016905,0.029892,0.005195,0.005058,0.001761,0.014998,-0.028703,0.000413,-0.011530,0.002154,0.030480,-0.944861,-0.002569,600.000000
2249691,0.009298,0.012925,0.024083,0.005987,-0.004382,0.011691,-0.023460,0.000375,-0.011288,0.003810,0.051463,-0.260317,-0.002812,271.250000
2249692,0.014983,0.020159,0.025319,-0.003666,0.000577,0.003493,-0.016908,-0.000553,-0.014207,-0.000874,-0.007179,1.002874,-0.002576,590.550000
2249694,0.020147,0.015623,0.021427,-0.000404,0.003816,0.009220,-0.025823,-0.002782,-0.011322,0.000861,0.017507,-0.148118,-0.002919,125.984252

In [5]:
X = df_no_outliers.drop(["PRODUCT_LENGTH","PRODUCT_LENGTH_NONORM"],axis=1)
Y = df_no_outliers["PRODUCT_LENGTH_NONORM"]

In [6]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [7]:
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, Y_train)

GradientBoostingRegressor(random_state=42)

In [8]:
Y_pred = gb_model.predict(X_test)
mse = mean_squared_error(Y_test, Y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 30091.598117895217

In [9]:
df_new = pd.read_csv("E:/AI Hackathon I am Pagal/abc/dataset/universal_test.csv")

In [10]:
df_new = df_new.drop(['Unnamed: 0'],axis = 1)
df_new

,0,1,2,3,4,5,6,7,8,9,10,PRODUCT_TYPE_ID
0,0.002030,0.001105,0.004455,-0.002957,0.081613,-0.026087,-0.060922,-0.002510,-0.000102,0.002701,0.000682,0.539695
1,0.045924,0.004526,0.038838,0.000920,-0.004138,-0.004475,0.000287,-0.023393,-0.012571,-0.010897,-0.031862,-0.600023
2,0.036662,0.006406,0.021295,-0.007004,0.011642,0.054653,-0.005702,0.005560,-0.000605,-0.006511,0.050248,0.892200
3,0.014183,0.006882,0.013506,0.006704,0.003102,0.003619,0.002005,-0.013562,-0.004010,0.003927,-0.002901,2.128240
4,0.001468,0.000477,0.001944,-0.000566,0.002886,-0.000283,0.001136,-0.001220,0.000452,0.002904,0.000571,0.584073
...,...,...,...,...,...,...,...,...,...,...,...,...
734731,0.050158,0.042695,0.002704,0.006636,-0.002293,-0.004577,-0.000274,-0.004068,0.000678,-0.003461,-0.008043,0.774446
734732,0.006316,0.001556,0.010280,-0.001082,0.010781,-0.000413,0.011659,-0.044439,0.015126,0.100408,0.008602,-1.008758
734733,0.003731,0.000568,0.007024,-0.001627,0.000587,0.003332,-0.000035,-0.005900,-0.005813,-0.005540,0.003869,1.675126
734734,0.028127,0.005061,0.084735,-0.031485,-0.019086,-0.033867,-0.003598,0.042117,0.016028,0.003718,0.007038,2.188251
734735,0.029292,0.014759,0.009924,-0.002187,0.012806,0.058701,-0.005985,0.012552,0.018234,-0.006021,0.060181,-1.009011

In [12]:
Y_pred_checking = gb_model.predict(df_new)

In [13]:
test = pd.read_csv("E:/AI Hackathon I am Pagal/abc/dataset/test.csv")

In [14]:
test.drop(columns = ['PRODUCT_TYPE_ID','TITLE','BULLET_POINTS','DESCRIPTION'])

        PRODUCT_ID
0           604373
1          1729783
2          1871949
3          1107571
4           624253
...            ...
734731      921419
734732     2456362
734733      841529
734734     1190194
734735     1040810

[734736 rows x 1 columns]

In [15]:
test["PRODUCT_LENGTH"] = Y_pred_checking

In [19]:
test = test.drop(columns = ['PRODUCT_TYPE_ID','TITLE','BULLET_POINTS','DESCRIPTION'], axis = 1)

In [20]:
test.to_csv('Amazon_GB.csv')

In [18]:
test.max()

<ipython-input-18-76e1be8a1c23>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test.max()

PRODUCT_ID         2.999998e+06
PRODUCT_TYPE_ID    1.342000e+04
PRODUCT_LENGTH     6.839055e+02
dtype: float64

In [21]:
test

        PRODUCT_ID  PRODUCT_LENGTH
0           604373      588.418006
1          1729783      497.651921
2          1871949      533.457870
3          1107571      431.198398
4           624253      586.676793
...            ...             ...
734731      921419      412.221212
734732     2456362      528.418000
734733      841529      508.038223
734734     1190194      416.795053
734735     1040810      484.560350

[734736 rows x 2 columns]