In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import tensorflow as tf

In [2]:
import os

os.chdir('..') # Change to parent directory
cwd = os.getcwd() # Get current working directory
print(cwd)

C:\Users\templ\OneDrive\Desktop\AI\Hackathon\Amazon

In [3]:
# Read the dataset using Dask
dataset = pd.read_csv('dataset/trainfinal.csv', on_bad_lines='skip', encoding='utf-8', engine='python')
# dataset =  dataset.sample(n=20000)

In [4]:
dataset.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       'PRODUCT_TYPE_ID', 'PRODUCT_LENGTH'],
      dtype='object')

In [5]:
dataset

,0,1,2,3,4,5,6,7,8,9,10,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,0.033740,0.053593,0.119451,-0.002144,-0.023888,-0.009354,-0.013213,-0.011067,-0.052480,-0.005460,-0.048928,1650,2125.980000
1,0.021798,0.017311,-0.010543,0.044631,-0.013809,0.007838,-0.019112,0.012684,-0.002693,0.000218,0.007681,2755,393.700000
2,0.021713,0.010882,0.012488,-0.015654,0.011082,0.004986,-0.017478,-0.003682,-0.005930,-0.000192,-0.005423,7537,748.031495
3,0.041322,0.102819,-0.029833,0.067824,0.101342,-0.023887,0.054705,-0.005680,-0.031651,-0.000720,-0.008348,2996,787.401574
4,0.001786,0.004194,0.001742,-0.000216,-0.001976,0.006235,-0.000607,0.000235,-0.002081,0.000451,0.008637,6112,598.424000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249693,0.019544,0.061277,-0.024850,0.036257,0.073269,-0.017734,0.047925,0.000918,0.012451,-0.000118,-0.004641,3009,1181.100000
2249694,0.020147,0.015623,0.021427,-0.000404,0.003816,0.009220,-0.025823,-0.002782,-0.011322,0.000861,0.017507,3413,125.984252
2249695,0.063208,0.032880,0.119688,0.024788,-0.071651,-0.024792,0.045420,-0.009083,0.004295,-0.002458,-0.022181,1574,1200.000000
2249696,0.033887,0.054742,0.086165,-0.033040,-0.014690,-0.016088,0.023324,0.032273,0.099026,-0.000348,-0.022752,592,2900.000000
2249697,0.005274,0.007339,0.013561,-0.001855,0.002032,0.004187,-0.014808,0.000081,-0.009082,-0.000322,-0.002877,7367,2000.000000

In [8]:
data = dataset

In [48]:
from sklearn.ensemble import GradientBoostingRegressor

In [52]:

# Split the dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, :10], data.iloc[:, 11], test_size=0.2, random_state=42)

# Scale the training and testing data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train a gradient boosting model with early stopping and reduced learning rate
gb_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.05, random_state=42, validation_fraction=0.2, n_iter_no_change=5, tol=1e-6,verbose=1)
gb_model.fit(X_train, y_train)

# Evaluate the model on the testing data
y_pred_gb = gb_model.predict(X_test)
mse_gb = mean_squared_error(y_test, y_pred_gb)
print('MSE of Gradient Boosting:', mse_gb)

      Iter       Train Loss   Remaining Time
         1    15467698.2921           20.13m
         2    15223142.0043           19.99m
         3    14999865.8078           20.01m
         4    14795985.6750           19.73m
         5    14611341.5891           19.56m
         6    14442164.7213           19.30m
         7    14289093.8555           19.06m
         8    14148142.2087           18.84m
         9    14020089.2636           18.65m
        10    13903773.1401           18.43m
        20    13125134.6998           17.81m
        30    12756706.3194           15.28m
        40    12571843.2932           12.91m
        50    12461290.8150           10.79m
        60    12392785.6694            8.70m
        70    12341143.7145            6.56m
        80    12301735.9773            4.40m
        90    12265709.2131            2.19m
       100    12238866.1691            0.00s
MSE of Gradient Boosting: 12190731.773154786

In [ ]:
# Train a neural network model
nn_model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)
])
nn_model.compile(loss='mse', optimizer='adam')
early_stop = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=3)
history = nn_model.fit(X_train, y_train, epochs=50, batch_size=64, validation_split=0.2, callbacks=[early_stop])

In [12]:
# Evaluate the model on the testing data
y_pred_nn = nn_model.predict(X_test)
mse_nn = mean_squared_error(y_test, y_pred_nn)
print('MSE of Neural Network:', mse_nn)

14061/14061 [==============================] - 13s 887us/step
MSE of Neural Network: 12012888.25459579

In [13]:
testdataset = pd.read_csv('dataset/universal_test.csv', on_bad_lines='skip', encoding='utf-8', engine='python')
# dataset =  dataset.sample(n=20000)

In [14]:
testdataset = testdataset.drop(['Unnamed: 0'],axis=1)
testdataset.head()

,0,1,2,3,4,5,6,7,8,9,10,PRODUCT_TYPE_ID
0,0.002030,0.001105,0.004455,-0.002957,0.081613,-0.026087,-0.060922,-0.002510,-0.000102,0.002701,0.000682,0.539695
1,0.045924,0.004526,0.038838,0.000920,-0.004138,-0.004475,0.000287,-0.023393,-0.012571,-0.010897,-0.031862,-0.600023
2,0.036662,0.006406,0.021295,-0.007004,0.011642,0.054653,-0.005702,0.005560,-0.000605,-0.006511,0.050248,0.892200
3,0.014183,0.006882,0.013506,0.006704,0.003102,0.003619,0.002005,-0.013562,-0.004010,0.003927,-0.002901,2.128240
4,0.001468,0.000477,0.001944,-0.000566,0.002886,-0.000283,0.001136,-0.001220,0.000452,0.002904,0.000571,0.584073

In [15]:
testdataset['PRODUCT_TYPE_ID'] = testdataset['PRODUCT_TYPE_ID']*dataset["PRODUCT_TYPE_ID"].std()  + dataset["PRODUCT_TYPE_ID"].mean()

In [16]:
testdataset

,0,1,2,3,4,5,6,7,8,9,10,PRODUCT_TYPE_ID
0,0.002030,0.001105,0.004455,-0.002957,0.081613,-0.026087,-0.060922,-0.002510,-0.000102,0.002701,0.000682,6140.964882
1,0.045924,0.004526,0.038838,0.000920,-0.004138,-0.004475,0.000287,-0.023393,-0.012571,-0.010897,-0.031862,1620.676373
2,0.036662,0.006406,0.021295,-0.007004,0.011642,0.054653,-0.005702,0.005560,-0.000605,-0.006511,0.050248,7539.054115
3,0.014183,0.006882,0.013506,0.006704,0.003102,0.003619,0.002005,-0.013562,-0.004010,0.003927,-0.002901,12441.367006
4,0.001468,0.000477,0.001944,-0.000566,0.002886,-0.000283,0.001136,-0.001220,0.000452,0.002904,0.000571,6316.976116
...,...,...,...,...,...,...,...,...,...,...,...,...
734731,0.050158,0.042695,0.002704,0.006636,-0.002293,-0.004577,-0.000274,-0.004068,0.000678,-0.003461,-0.008043,7072.024307
734732,0.006316,0.001556,0.010280,-0.001082,0.010781,-0.000413,0.011659,-0.044439,0.015126,0.100408,0.008602,-0.427094
734733,0.003731,0.000568,0.007024,-0.001627,0.000587,0.003332,-0.000035,-0.005900,-0.005813,-0.005540,0.003869,10644.252305
734734,0.028127,0.005061,0.084735,-0.031485,-0.019086,-0.033867,-0.003598,0.042117,0.016028,0.003718,0.007038,12679.382198
734735,0.029292,0.014759,0.009924,-0.002187,0.012806,0.058701,-0.005985,0.012552,0.018234,-0.006021,0.060181,-1.427158

In [17]:
test_df = testdataset

In [22]:
# Extract input features from test dataset
X_test = test_df.iloc[:, 0:10].values

# Make predictions on test dataset
y_pred = nn_model.predict(X_test)

22961/22961 [==============================] - 21s 921us/step

In [23]:
y_pred

array([[2559.713 ],
       [2460.5803],
       [2348.575 ],
       ...,
       [2364.3877],
       [2612.201 ],
       [2319.413 ]], dtype=float32)

In [24]:
test_df["PRODUCT_LENGTH"] = y_pred

In [26]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler(feature_range=(200, 1200))
test_df['PRODUCT_LENGTH'] = scaler.fit_transform(test_df[['PRODUCT_LENGTH']])

In [30]:
test_df

,0,1,2,3,4,5,6,7,8,9,10,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,0.002030,0.001105,0.004455,-0.002957,0.081613,-0.026087,-0.060922,-0.002510,-0.000102,0.002701,0.000682,6140.964882,452.998291
1,0.045924,0.004526,0.038838,0.000920,-0.004138,-0.004475,0.000287,-0.023393,-0.012571,-0.010897,-0.031862,1620.676373,429.312378
2,0.036662,0.006406,0.021295,-0.007004,0.011642,0.054653,-0.005702,0.005560,-0.000605,-0.006511,0.050248,7539.054115,402.550720
3,0.014183,0.006882,0.013506,0.006704,0.003102,0.003619,0.002005,-0.013562,-0.004010,0.003927,-0.002901,12441.367006,380.191467
4,0.001468,0.000477,0.001944,-0.000566,0.002886,-0.000283,0.001136,-0.001220,0.000452,0.002904,0.000571,6316.976116,391.543518
...,...,...,...,...,...,...,...,...,...,...,...,...,...
734731,0.050158,0.042695,0.002704,0.006636,-0.002293,-0.004577,-0.000274,-0.004068,0.000678,-0.003461,-0.008043,7072.024307,417.659607
734732,0.006316,0.001556,0.010280,-0.001082,0.010781,-0.000413,0.011659,-0.044439,0.015126,0.100408,0.008602,-0.427094,332.280060
734733,0.003731,0.000568,0.007024,-0.001627,0.000587,0.003332,-0.000035,-0.005900,-0.005813,-0.005540,0.003869,10644.252305,406.328857
734734,0.028127,0.005061,0.084735,-0.031485,-0.019086,-0.033867,-0.003598,0.042117,0.016028,0.003718,0.007038,12679.382198,465.539368
734735,0.029292,0.014759,0.009924,-0.002187,0.012806,0.058701,-0.005985,0.012552,0.018234,-0.006021,0.060181,-1.427158,395.583008

In [40]:
test = pd.read_csv('dataset/test.csv', on_bad_lines='skip', encoding='utf-8', engine='python')
test = test.drop(columns = ['PRODUCT_TYPE_ID','TITLE','BULLET_POINTS','DESCRIPTION'],axis = 1)
test

        PRODUCT_ID
0           604373
1          1729783
2          1871949
3          1107571
4           624253
...            ...
734731      921419
734732     2456362
734733      841529
734734     1190194
734735     1040810

[734736 rows x 1 columns]

In [38]:
# test = test.drop(columns = ['PRODUCT_TYPE_ID','TITLE','BULLET_POINTS','DESCRIPTION'],axis = 1)
# test

In [41]:
test["PRODUCT_LENGTH"] = test_df['PRODUCT_LENGTH']

In [42]:
test

        PRODUCT_ID  PRODUCT_LENGTH
0           604373      452.998291
1          1729783      429.312378
2          1871949      402.550720
3          1107571      380.191467
4           624253      391.543518
...            ...             ...
734731      921419      417.659607
734732     2456362      332.280060
734733      841529      406.328857
734734     1190194      465.539368
734735     1040810      395.583008

[734736 rows x 2 columns]

In [43]:
test.to_csv("LSTM.csv", index = False)